.cont{
    background-color: whitesmoke;
}

.bg-color{
    background-color: #fceae8;
    padding: 20px 40px;
    border-radius: 1%;
}
.container{
    margin-bottom: 100px;
}
.dollar-color{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: white;
    border-radius: 7%;
    padding: 1% 3%;
    border: none;
  
}
.cat1{
   background-image: linear-gradient(#ff589b 0%, #ff136f 100%);
   padding:  2% 11%;
   border-radius: 3%;
}

.cat2{
    background-image: linear-gradient(180deg, tomato, orangered);
    padding:  2% 11%;
    border-radius: 3%;
}
.cat3{
    background-image: linear-gradient(deepskyblue,blue);
    padding:  2% 11%;
    border-radius: 3%;
}


.card{
    box-shadow: 5px 5px 10px lightgray;
    border: none;
}
.emon img{
    width: 100px;
}
.cetagori-name{
    display: flex;
    justify-content: space-between;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
}

.foot{
    display: flex;
    justify-content: center;
}